{% extends 'base.html' %}
{% load static %} 

{% block css %}
<link href="{% static 'css/my_page.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="container" style="width: 100%;">
    <div class="container-header text-center">
      <br/><br/><br/>
    </div>
    <div class="container-body text-center">
      <!--로그인 안한 상태에서 친구의 편지함을 방문했을 때-->
        {% if user.is_anonymous %}
        <div class="card text-center rounded-4 p-3 pb-2">
			    <h3>친구야, 너의 편지를 읽고싶어!</h3>
          <p style="color: black;">
          상대방은 당신이 설정한 시간만큼 공부를 해야 당신의 편지를 열 수 있습니다. 따뜻한 마음을 담은 편지를 친구에게 전하고, 친구의 공부까지 도와줄 수 있어요!<br/>
         (편지를 작성하려면 <strong><u>로그인</u></strong>이 필요합니다. 왼쪽 상단 메뉴 버튼을 클릭하시고 회원가입을 먼저 해주세요!)
          </p>
				</div>
        <div class="container">
          <div class="row">
            <div class="col-12" style="text-align: center;">
              <!-- 편지 작성하기 모달 버튼(작동 안되게 해놨음) -->
              <img type="button" class="img-fluid" data-bs-toggle="modal" data-bs-target="#createMessageModal2" src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/text_balloon.png?raw=true" style="width:40%; position: relative; top: 30px;" alt="write_message">
              <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/%EC%82%AC%EB%9E%8C%EC%BA%90%EB%A6%AD%ED%84%B0.png?raw=true" class="img-fluid" alt="character" style="width: 70%;">
            </div>
          </div>
        {% endif %}

        {% if user.is_authenticated and isHost == False %}
				<div class="card text-center rounded-4 p-3 pb-2">
			    <h3>상대방의 시험공부를 도와주세요</h3>
          <p style="color:black;">상대방은 당신이 설정한 시간만큼 공부를 해야만 당신의 편지를 열 수 있습니다. 따뜻한 마음을 담은 편지를 친구에게 전하고, 친구의 공부까지 도와줄 수 있어요!<br/>
            (연필을 클릭하고 편지를 작성해보세요!)</p>
				</div>
        {% endif %}

        {% if user.is_authenticated and isHost == True %}
        <div class="card text-center rounded-4 p-3 pb-2 bg-warning">
          <h3>내 총 공부시간: {{ user.total_time }}초</h3>
          <p style="color: black;">내 편지함 주소를 SNS에 공유하고 친구들로부터 편지를 받아보세요! <br/>p.s. 친구가 설정한 시간만큼 공부를 해야 편지를 열 수 있습니다 :) </p>
          {% if user.is_authenticated and isHost == True %}
          <div style="text-align:center;">
            <a class="btn btn-light" onclick="clip(); return false;"><i class="fa-solid fa-arrow-up-from-bracket"></i><strong>&nbsp;내 편지함 공유하기</strong></a>
          </div>
          {% endif %}
        </div>
        <br/>
        <div class="card rounded-4 p-2">
          <div id = "demo" class = "time">
            <h3>슬슬 공부 좀 해볼까...?</h3>
          </div>
          <div style="display: flex;">
            <div class = "btnflex">
              <label for="sucess">공부시작</label>
              <button class="btn success" name="sucess" value="start" onclick="starttimer()"><img class = "btnimg" src="https://cdn-icons-png.flaticon.com/512/38/38483.png" alt="시작" style="width: 10%;"></button>
            </div>
            <div>
              <label for="stop">공부중단</label>
              <button class="btn danger" name="stop" value="stop" onclick="stopTimer()"><img class="btnimg" src="https://cdn-icons-png.flaticon.com/512/64/64485.png" alt="중단" style="width: 10%;"></button>
            </div>
            <div>
              <form method="POST" action="{% url 'time_submit' user.pk %}">
              {% csrf_token %}
              <input type="number" id="totaltime" name="totaltime" tabindex="3" style="display:none;">
              <label for="submit">시간제출</label>
              <button type="submit" name = "제출하기" class="btn" onclick="submitTimer()"><img class="btnimg" src="https://cdn-icons-png.flaticon.com/512/2708/2708395.png" alt="제출" style="width: 10%;"></button>
              </form>                      
            </div>  
          </div>  
        </div>
        {% endif %}
	</div>
  <br/>
        <div class="container">
            <div class="row">
                {% if user.is_authenticated and isHost == True %}
                <div class="col-6">
                    <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/%EC%82%AC%EB%9E%8C%EC%BA%90%EB%A6%AD%ED%84%B0.png?raw=true" class="img-fluid" style="width: 100%;" alt="character">
                </div>
    
                <div class="col-6" style="display: flex; align-content: center; align-items:center;">
                  {% if len_closed >= 1 %}
                  <div style="text-align: center;">
                    <span class="text-muted"><small>안읽은 편지가 있어요! 편지함을 클릭해보세요.</small></span>
                  {% endif %}                    
                    <!-- 편지 목록보기 모달 버튼 -->
                    <button class="btn position-relative" data-bs-toggle="modal" data-bs-target="#listMessageModal" alt="list_message">
                      <span class="position-relative top-100 start-45 translate-middle badge rounded-pill bg-danger" style="bottom: 20px; left: 40px;">클릭!</span>
                      <span class="position-absolute top-50 start-50 translate-middle badge rounded-pill bg-primary">
                        {{ len_closed }}+
                        <span class="visually-hidden">안읽은 편지</span>
                      </span>
                      <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/mailbox.png?raw=true" style="width:60%; background:transparent;">
                    </button>
                  </div>
                </div>
                {% endif %}                    


                {% if user.is_authenticated and isHost == False %}
                <div class="col-12" style="text-align: center;">
                  <!-- 편지 작성하기 모달 버튼 -->
                  <img type="button" class="img-fluid" data-bs-toggle="modal" data-bs-target="#createMessageModal" src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/text_balloon.png?raw=true" style="width:40%; position: relative; top: 30px;" alt="write_message">
                  <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/%EC%82%AC%EB%9E%8C%EC%BA%90%EB%A6%AD%ED%84%B0.png?raw=true" class="img-fluid" alt="character" style="width: 70%;">
                </div>
                {% endif %}
            </div>
        </div>
    </div>
  </div>
</div>

<!-- 편지 작성하기 모달(로그인시) -->
<div class="modal fade in" id="createMessageModal" tabindex="-1" aria-labelledby="createMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">상대방에게 당신의 마음을 남겨주세요!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                    <form id="contact-form" class="form" method="POST" role="form"> 
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="name">닉네임</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="당신의 닉네임을 입력하세요(10자 이하)." tabindex="1" required>
                        </div>                            
                                        
                        <div class="form-group">
                            <label class="form-label" for="title">편지 제목</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="편지 제목을 적어주세요." tabindex="3">
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label" for="left_time">공부 시간</label>
                            <input type="range" name="left_time" id="left_time" min="0" max="3600" value= "1800" placeholder="상대방을 얼만큼 공부시킬까요?">
                            <label class="form-label" for="left_time" style="color:gray;">최대: 60분</label>
                        </div>

                        <div class="form-group">
                          <label class="form-label" for="message_cover">편지 장식</label>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio1" value="1">
                              <label class="form-check-label" for="inlineRadio1">❤️</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio2" value="2">
                              <label class="form-check-label" for="inlineRadio2">🎁</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio3" value="3">
                              <label class="form-check-label" for="inlineRadio3">💋</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio3" value="4">
                              <label class="form-check-label" for="inlineRadio3">💯</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio3" value="5">
                              <label class="form-check-label" for="inlineRadio3">🍫</label>
                            </div>
                            <div class="form-check form-check-inline">
                              <input class="form-check-input" type="radio" name="message_cover" id="inlineRadio3" value="6">
                              <label class="form-check-label" for="inlineRadio3">🍀</label>
                            </div>                        
                        </div>
  
                        <div class="form-group">
                            <label class="form-label" for="content">편지 내용</label>
                            <textarea rows="10" cols="50" name="content" class="form-control" id="content" placeholder="따뜻한 메세지를 남겨주세요." tabindex="4" required></textarea>                                 
                        </div>            
                    </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">작성</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- 편지 목록보기 모달 -->
<div class="modal fade in" id="listMessageModal" tabindex="-1" aria-labelledby="listMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">도착한 마음: {{ len_message }}개
          <span class="text-muted"><small>(열어본 마음: {{ len_open }}개)</small></span>
          </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                {% if messages %}
                {% for m in messages %} 
                <div class="col-2" style="text-align: center; font-size: 13px;">
                  {% if m.left_time >= 1 and m.left_time <= 1200 %} 
                    <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/clock3.png?raw=true" style="width: 100%;" alt="time">
                    <small>{{ m.minute }}분{{ m.second }}초</small>

                    {% elif m.left_time >= 1201 and m.left_time <= 2400 %}
                    <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/clock2.png?raw=true" style="width: 100%;" alt="time">
                    <small>{{ m.minute }}분{{ m.second }}초</small>

                    {% elif m.left_time >= 2401 and m.left_time <= 3600 %}
                    <img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/clock1.png?raw=true" style="width: 100%;" alt="time">
                    <small>{{ m.minute }}분{{ m.second }}초</small>
                    {% else %}
                        {% if m.message_cover == 1 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/heart.png?raw=true" style="width: 100%;" alt="❤️"></a>
                        {% endif %}
                        {% if m.message_cover == 2 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/gift.png?raw=true" style="width: 100%;" alt="🎁"></a>
                        {% endif %}
                        {% if m.message_cover == 3 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/kiss.png?raw=true" style="width: 100%;" alt="💋"></a>
                        {% endif %}
                        {% if m.message_cover == 4 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/100.png?raw=true" style="width: 100%;" alt="💯"></a>
                        {% endif %}
                        {% if m.message_cover == 5 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/Chocolate.png.png?raw=true" style="width: 100%;" alt="🍫"></a>
                        {% endif %}
                        {% if m.message_cover == 6 %} 
                        <a href="{% url 'message_detail' m.pk %}"><img src="https://github.com/jisoolee0929/LikeLion_Hackathon5/blob/main/image/clover.png?raw=true" style="width: 100%;" alt="🍀"></a>
                        {% endif %}
                    {% endif %} 
                </div>
                {% endfor %}
                {% else %} 
                <p>아직 도착한 마음이 없습니다.</p>
                {% endif %}
              </div>
            <br/>
            {% if len_message != 0 %}
            <div class="row">
                <p>공부시간을 채우면 편지가 시계 모양에서 친구가 설정한 모양으로 자동으로 바뀝니다. 편지를 읽으려면 타이머로 공부시간을 제출하세요!</p>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

<script>
let timer
var time = 0
var stop = document.querySelector(".danger");
var start = document.querySelector(".success");

function starttimer(){
  start.disabled = true;
  stop.disabled = false;
    var min = ""
    var sec = ""
    timer = setInterval(function(){
            min = parseInt(time/60);
            sec = time%60;
            document.getElementById("demo").innerHTML = min + "분" + sec + "초";
            document.getElementById("totaltime").value = time;
            time++;
        }, 1000);
}

function stopTimer(){
    clearInterval(timer);
    start.disabled = false;
    stop.disabled = true;

}

function submitTimer(){
    time = 0
}


function clip(){

var url = '';
var textarea = document.createElement("textarea");
document.body.appendChild(textarea);
url = window.document.location.href;
textarea.value = url;
textarea.select();
document.execCommand("copy");
document.body.removeChild(textarea);
alert("내 편지함의 주소가 복사되었습니다.\n친구들이 편지를 써줄 수 있도록 SNS에 공유해보세요!")
}

</script>
{% endblock %}
