{% extends 'base.html' %}
{% load static %} 

{% block css %}
<link href="{% static 'css/my_page.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
{% endblock %}

{% block content %}
<div class="card" style="width: 50%;">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <img src="#" class="card-img-top" alt="#">
        <h5 class="card-title">받은 편지수: {{ len_message }}</h5>
        <div class = "time">
            <h2>타이머(구현예정)</h2>
        </div>
            {% if user.is_authenticated and isHost == True %}
            <!-- 편지 목록보기 모달 버튼 -->
            <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#listMessageModal">
                <img src="https://user-images.githubusercontent.com/101272544/170822714-6985f115-0fb7-4d3b-9505-ae019f6ac8bf.jpg" style="width:20%;" alt="list_message">
            </button>
            {% endif %}

            <!-- 편지 작성하기 모달 버튼 -->
            {% if user.is_authenticated and isHost == False %}
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createMessageModal">
                편지 작성하기
            </button>
            {% endif %}
        

        <div class="character">
            <img src="https://user-images.githubusercontent.com/101272544/170822671-0ba5e34f-4e2b-4b6f-8661-b6cb3d034af4.png" class="img-fluid" alt="character">
        </div>

    </div>
  </div>
</div>


<!-- 편지 작성하기 모달 -->
<div class="modal fade in" id="createMessageModal" tabindex="-1" aria-labelledby="createMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">상대방에게 당신의 마음을 남겨주세요!</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                    <form id="contact-form" class="form" method="POST" role="form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="form-label" for="name">닉네임</label>
                            <input type="text" class="form-control" id="nickname" name="nickname" placeholder="편지 수신인에게 보일 닉네임을 입력해주세요." tabindex="1" required>
                        </div>                            
                                        
                        <div class="form-group">
                            <label class="form-label" for="title">편지 제목</label>
                            <input type="text" class="form-control" id="title" name="title" placeholder="편지 제목을 입력해주세요." tabindex="3">
                        </div>
                        
                        <div class="form-group">
                            <label class="form-label" for="left_time">공부 시간</label>
                            <input type="range" name="left_time" id="left_time" min="0" max="3600" value= "1800" placeholder="얼마나 공부시킬까요?">
                        </div>

                        <div class="form-group">
                            <input type="radio" id="1" name="message_cover" value="1">
                            <label for="1" class="form-label">1번 편지지</label><br>
                            <input type="radio" id="2" name="message_cover" value="2">
                            <label for="2" class="form-label">2번 편지지</label><br>
                            <input type="radio" id="3" name="message_cover" value="3">
                            <label for="3" class="form-label">3번 편지지</label>
                        </div>
  
                        <div class="form-group">
                            <label class="form-label" for="content">편지 내용</label>
                            <textarea rows="5" cols="50" name="content" class="form-control" id="content" placeholder="편지 내용을 입력해주세요." tabindex="4" required></textarea>                                 
                        </div>            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">작성</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- 편지 목록보기 모달 -->
<div class="modal fade in" id="listMessageModal" tabindex="-1" aria-labelledby="listMessageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">당신에게 도착한 마음들</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
                {% if messages %}
                    {% for m in messages %} 
                    <a href="{% url 'message_detail' m.pk %}"><p>{{ m.title }}</p></a>
                    {% endfor %}
                {% else %} 
                    <p>아직 도착한 마음이 없습니다.</p>
                {% endif %}
            </div>
          </div>
        </div>
        <div class="modal-footer">

        </div>
      </div>
    </div>
  </div>

{% endblock %}

<!-- <script src="{% static 'js/my_page.js' %}"></script> -->